{% extends "layout.html" %}
{% block content %}

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">
                    <div class="welcome-strip">
                        Welcome Back
                        {{ dresult.FirstName }}
                        <br />
                        Logged in with Role:
                        {{ dresult.RoleId }}
                        Which Translated to {{ Role }}
                    </div>

				</div>
			</div>
		</div>
	</div>


{% endblock content %}

