{% extends "layout.html" %}
{% block content %}


	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">	
									<table data-vertable="ver2">
									<tr><th>Dog Details</th>
										<th>Dog Expenses</th>
										</tr>
										<tr>
										<td style="min-width:400px">
											<form method="POST" action"">
												{{ form.hidden_tag() }}
												<fieldset> 
													<legend>Dog Details</legend>
														<table >

														<tr><td width="150px">User Name: </td><td style="width:250px">{{ dresults.DogName }}</td></tr>
														<tr><td width="150px">User Role</td><td>
														{% if dresults.combinedbreed == 'unknown'%}
															{{ form.DogBreed(rows=6, multiple=True) }}
														{% elif dresults.combinedbreed == 'mixed'%}
															{{ form.DogBreed(rows=6, multiple=True) }}
														{% elif dresults.combinedbreed == ''%}
															{{ form.DogBreed(rows=6, multiple=True) }}
														{% else %}
															{{ dresults.combinedbreed }}
														{% endif %}
														</td></tr>
														<tr><td width="150px">Signup Date</td>
															<td>
														{% if dresults.Dogsex == 'unknown' %}
															{{ form.DogSex }}
														{% else %}
															{{ dresults.Dogsex }}
														{% endif %}
														</td></tr>
														<tr><td width="150px">Approval Status</td><td>{{ agesyears }} {{ yrval }} - {{ agesmonths }} {{ monthsval }}</td></tr>
														<tr><td width="150px">Account Status</td><td>{{ dresults.DogAlterStatus }}</td></tr>
														<tr><td width="150px">Dog Description</td><td>{{ dresults.DogDescription }}</td></tr>
														<tr><td width="150px">Microchip ID</td><td>
														{% if dresults.MicrochipID == '' %}
															{{ form.MicrochipID }}
														{% else %}
															{{ dresults.MicrochipID }}
														{% endif %}

														</td></tr>
													
														<tr><td width="150px">Surrender Date</td><td>{{ dresults.SurrenderDate }}</td></tr>
														<tr><td width="150px">Surrender Reason</td><td>{{ dresults.SurrenderReason }}</td></tr>
														<tr><td width="150px">AC - Surrender</td><td>{{ dresults.SurrenderAnimalControl }}</td></tr>
														<tr><td width="150px">Adoptability Status</td><td><a {{ anchortype }}="addadoption?dogID={{adoptlink2 }}" class="{{ classname }}"></a></td></tr>
														<tr><td width="150px">Add Expenses</td><td><a href=""><a href="addExpense?dogID={{request.args.get('dogID')}}">Add Expense</a></td></tr>
														</table>
												</fieldset>
												{{ form.submit()}} 
											</form>
										</td>
										<td>
											<table><tr><th>ExpenseID</th><th>DogID</th><th>VendorID</th><th>Date</th><th>Amount</th><th>Description</th></tr>
												{% for dresultse in eresults %}
												<tr><td>{{dresultse.ExpenseID}}</td><td>{{dresultse.DogID}}</td><td>{{dresultse.VendorID}}</td><td>{{dresultse.ExpenseDate}}</td><td>{{dresultse.ExpenseAmount}}</td><td>{{dresultse.ExpenseDescripton}}</td></tr>
												{% endfor %}

											</table>
										</td>

								</table>
				</div>
			</div>
		</div>
	</div>


{% endblock content %}

